{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
{% block menu %}
   <li><a href="{% url 'article_add' %}">Add Article</a></li>
{% endblock %}
{% block title %}Create Article{% endblock %}
{% block content %}
   <form action="{% url 'article_add' %}" method="post">
    {% include 'partial/article_form.html'  with button_text='Создать' %}
</form>
{% endblock %}
</body>
</html>